.contact-wrapper {
    box-shadow: $shadow;
    background-color: #fff;
    padding: 2.4rem;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    .other-contact {
        display: flex;
        padding: .8rem 0;
        &:not(:last-child) {
            border-bottom: $border;
        }
        img {
            width: 4.8rem;
            height: 4.8rem;
        }
        > div {
            padding: .6rem 0 .6rem 1.6rem;
            > div {
                &:first-child {
                    font-weight: $fw-bold;
                }
                &:last-child {
                    margin-top: .4rem;
                }
            }
        }
    }
}

.contact-logo {
    width: 80%;
}