.information-detail {
    &__thumb {
        margin-bottom: 4rem;
        img {
            width: 100%;
        }
    }
    &__title {
        font-weight: $fw-medium;
        font-size: 3.4rem;
        margin-bottom: 1.6rem;
        // text-align: center;
    }
    &__info {
        color: $gray-color;
        // margin-bottom: 2.4rem;
        // text-align: center;
        ._writer {
            color: $de-color;
            font-weight: $fw-medium;
            margin-left: .8rem;
        }
        ._separate {
            &::after {
                display: inline-block;
                content: "";
                width: .3rem;
                height: .3rem;
                border-radius: 50%;
                background-color: $de-color;
                margin: 0 1rem;
                position: relative;
                top: -.2rem;
            }
        }
        i {
            margin-right: .8rem;
        }
    }
}