.headline {
    &__head {
        margin-bottom: 1.6rem;
        padding: 0 2.4rem;
        .headline-title {
            width: 100%;
            font-size: 1.6rem;
            padding: 1.6rem 0 0;
            // font-weight: $fw-medium;
            a {
                color: $de-color;
            }
            .slick-prev, .slick-next {
                background-color: #fff;
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                z-index: 2;
                padding: 0 .6rem;
                top: 66%;
            }
            .slick-prev:before, .slick-next:before {
                color: $gray2-color;
                font-family: inherit;
            }
            .slick-prev {
                left: auto;
                right: 2rem;
                &::before {
                    content: "\f104";
                }
            }
            .slick-next {
                right: 0;
                &::before {
                    content: "\f105";
                }
            }
        }
        @media (min-width: 768px) {
            display: flex;
            .headline-title {
                flex: 1;
                width: calc(100% - 20rem);
                padding: .2rem 0 0 1.6rem;
            }
            .slick-prev, .slick-next {
                top: 50% !important; 
            }
        }
    }
    .row {
        margin-left: -.2rem;
        margin-right: -.2rem;
        > .col,
        > [class*="col-"] {
            padding-left: .2rem;
            padding-right: .2rem;
            margin-bottom: .4rem;
        }
    }
    &__list {
        display: block;
        &__wrapper {
            height: 240px;
            position: relative;
            overflow: hidden;
            &__img {
                position: absolute;
                top: 0;
                left: 0;   
                width: 100%;
                height: 100%;
                transition: $animation-sort ease-in-out;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &__overlay {
                position: absolute;
                top: 0;
                left: 0;   
                width: 100%;
                height: 100%;
                background: transparent;
                background: -webkit-linear-gradient(to bottom, transparent, $de-color);
                background: linear-gradient(to bottom, transparent, $de-color);
            }
            &__content {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 0 1.6rem 2.4rem;
                &__label {
                    @extend .label;
                    margin-bottom: 1.6rem;
                    transition: $animation-sort ease-in-out;
                }
                &__title {
                    color: #fff;
                    font-weight: $fw-bold;
                    line-height: 1.2;
                    font-size: 1.6rem;
                    margin-bottom: .8rem;
                }
                &__subtitle {
                    color: #fff;
                    span {
                        margin: 0 .4rem;
                    }
                }
            }
        }
        &:hover {
            .headline__list__wrapper {
                &__img {
                    top: -5%;
                    left: -5%;   
                    width: 110%;
                    height: 110%;
                }
                &__content {
                    &__label {
                        background: $primary-color;
                        background: -webkit-linear-gradient(to right, $primary-color, $primary-darken-color);
                        background: linear-gradient(to right, $primary-color, $primary-darken-color);
                    }
                }
            }
        }
        @media (max-width: 767.98px) {
            margin-bottom: 1.6rem;
        }
        @media (min-width: 768px) {
            &--first {
                .headline__list__wrapper {
                    padding-top: 132%;
                    &__content {
                        &__title {
                            font-size: 3.2rem;
                        }
                    }
                }
            }
            &--second {
                .headline__list__wrapper {
                    padding-top: 60%;
                    &__content {
                        &__title {
                            font-size: 2.8rem;
                        }
                    }
                }
            }
            &--third {
                .headline__list__wrapper {
                    height: 20.9rem;
                    &__content {
                        &__title {
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
        @media (min-width: 992px) { 
            &--first {
                .headline__list__wrapper {
                    padding-top: 100%;
                }
            }
            &--third {
                .headline__list__wrapper {
                    height: 18.1rem;
                }
            }
        }
        @media (min-width: 1200px) { 
            &--third {
                .headline__list__wrapper {
                    height: 21.7rem;
                }
            }
        }
        @media (min-width: 1300px) { 
            &--third {
                .headline__list__wrapper {
                    height: 24.5rem;
                }
            }
        }
    }
}