// Header
.slider-header {
    position: relative;
    // overflow: hidden;
    // .slick-prev,
    // .slick-next {
        
    //     &:before {
    //         color: red;
    //         content: '\f105';
    //         background-color: #fff;
    //     display: inline-block;
    //     font: normal normal normal 14px/1 FontAwesome;
    //     font-size: inherit;
    //     text-rendering: auto;
    //     -webkit-font-smoothing: antialiased;
    //     -moz-osx-font-smoothing: grayscale;
    //     }
    // }
    .slick-prev, .slick-next {
        background-color: transparent;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        z-index: 2;
        // padding: 0 .6rem;
        height: 3.2rem;
        width: 3.2rem;
        border-radius: 50%;
        border: .1rem solid $gray-color;
    }
    .slick-prev:before, .slick-next:before {
        color: $gray-color;
        font-family: inherit;
        font-size: 2.4rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -54%);
    }
    .slick-prev {
        left: 3.2rem;
        // right: 2rem;
        &::before {
            content: "\f104";
        }
    }
    .slick-next {
        right: 3.2rem;
        &::before {
            content: "\f105";
        }
    }
}
.main-header {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: calc(100vh - 12.4rem); //minus by nav-block height
    img {
        width: 100%;
        object-fit: cover;
        // @media (max-width: 767.98px) {
        //     min-height: 24.2rem;
        // }
    }
    @media (max-width: 991.98px) {
        height: auto;
    }
    &__layer {
        background-color: rgba(0,0,0,.4);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: $de-color;
        // font-family: $font-family2;
        &__wrapper {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            @media (min-width: 768px) {
                width: 40%;
                min-width: 56rem;
            }
            h1 {
                font-size: 3.4rem;
                font-weight: $fw-bold;
                margin-bottom: 1.6rem;
            }
            ._subtitle {
                font-size: 1.8rem;
                margin-bottom: 3.2rem;
            }
        }
        &__mouse {
            position: absolute;
            bottom: 10.4rem;
            left: 50%;
            transform: translate(-50%, 0);
            img {
                width: 3.2rem;
            }
            @media (max-width: 991.98px) {
                display: none;
            }
        }
    }
}