.profile-card {
    text-align: center;
    // background-color: red;
    color: #fff;
    padding: 2.4rem;
    min-height: 32rem;
    @media (max-width: 991.98px) {
        min-height: 35rem;
    }
    @media (max-width: 767.98px) {
        min-height: auto;
    }
    img {
        width: 32%;
        margin-bottom: 3.2rem;
        margin-top: 2.4rem;
    }
    div {
        font-weight: $fw-bold;
        font-size: 1.8rem;
        margin-bottom: 1.6rem;
    }
    span {
        line-height: 2rem;
        display: block;
    }
    &--v1 {
        background: #FBBA77;
        background: -webkit-linear-gradient(to bottom, #FBBA77, #DFA871);
        background: linear-gradient(to bottom, #FBBA77, #DFA871);
    }
    &--v2 {
        background: #69529F;
        background: -webkit-linear-gradient(to bottom, #69529F, #463864);
        background: linear-gradient(to bottom, #69529F, #463864);
    }
    &--v3 {
        background: #41EAE3;
        background: -webkit-linear-gradient(to bottom, #41EAE3, #2293B7);
        background: linear-gradient(to bottom, #41EAE3, #2293B7);
    }
    &--v4 {
        background: #FF8088;
        background: -webkit-linear-gradient(to bottom, #FF8088, #984141);
        background: linear-gradient(to bottom, #FF8088, #984141);
    }
}