@mixin link-btn-mx {
    display: inline-block;
    text-align: center;
    border: .3rem solid;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: .2s ease-in-out;
    i {
        font-size: $de-font + .6;
        position: relative;
        top: .3rem;
    }
    &:hover,
    &:active {
        text-decoration: none;
    }
}

@mixin link-btn-color-mx($text-btn-color, $btn-color, $border-btn-color) {
    color: $text-btn-color;
    background-color: $btn-color;
    border-color: $border-btn-color;
    &:hover {
        color: $text-btn-color;
        background-color: darken($btn-color, 10%);
        border-color: darken($border-btn-color, 10%);
    }
    &:active {
        background-color: darken($btn-color, 20%);
        border-color: darken($border-btn-color, 20%);
    }
}

.link-btn {
    @include link-btn-mx;
    // rounded
    &--rounded {
        border-radius: $rounded-small;
    }

    //center position 
    &--center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    // height
    &--sm {
        height: 4rem;
        line-height: 3.6rem;
        font-size: 1.6rem;
    }
    &--md {
        height: 4.8rem;
        line-height: 4.4rem;
        font-size: 1.8rem;
    }
    &--lg {
        height: 5.6rem;
        line-height: 5.2rem;
        font-size: 1.8rem;
    }
    &--xl {
        height: 6.4rem;
        line-height: 6rem;
        font-size: 1.8rem;
    }

    // width
    &--w-xs {
        width: 10rem;
    }
    &--w-sm {
        width: 18rem;
    }
    &--w-md {
        width: 12.8rem;
    }
    &--w-lg {
        width: 20rem;
    }
    &--w-xl {
        width: 25.6rem;
    }
    &--w-full {
        width: 100%;
    }
    
    // color
    &--primary {
        @include link-btn-color-mx(#fff, $primary-color, $primary-color);
        background: $primary-color;
        background: -webkit-linear-gradient(to right, $primary-color, $primary-darken-color);
        background: linear-gradient(to right, $primary-color, $primary-darken-color);
        border:0;
        &.link-btn--sm {
            line-height: 4rem;
        }
        &.link-btn--md {
            line-height: 4.8rem;
        }
        &.link-btn--lg {
            line-height: 5.6rem;
        }
        &.link-btn--xl {
            line-height: 6.4rem;
        }
    }
    &--secondary {
        @include link-btn-color-mx($de-color, $secondary-color, $secondary-color);
    }
    &--tertiary {
        @include link-btn-color-mx($primary-color, $secondary-color, $secondary-color);
    }
    &--inverse {
        @include link-btn-color-mx($primary-color, transparent, $primary-color);
    }
}