.f {
    &bold {
        font-weight: $fw-bold
    }
    &medium {
        font-weight: $fw-medium;
    }
    &color- {
        &default {
            color: $de-color;
        }
        &primary {
            color: $primary-color;
        }
        &secondary {
            color: $secondary-color;
        }
        &white {
            color: #fff;
        }
        &gray2 {
            color: $gray2-color;
        }
    }
    &size- {
        &p- {
            &2 {
                font-size: $de-font + .2;
            }
            &4 {
                font-size: $de-font + .4;
            }
            &6 {
                font-size: $de-font + .6;
            }
            &8 {
                font-size: $de-font + .8;
            }
        }
        &m- {
            &2 {
                font-size: $de-font - .2;
            }
            &4 {
                font-size: $de-font - .4;
            }
            &6 {
                font-size: $de-font - .6;
            }
            &8 {
                font-size: $de-font - .8;
            }
        }
    }
}