footer {
    background-color:$de-color;
    padding: 4.8rem 0 0;
    color: #fff;
    .footer-top {
        .row>.col, 
        .row>[class*=col-] {
            margin-bottom: 5.6rem;
        }
        &__title {
            font-size: 1.8rem;
            font-weight: $fw-bold;
            margin-bottom: .8rem;
        }
        &__nav-links,
        &__content {
            list-style: none;
            padding: 0;
            // font-size: 1.6rem;
            li {
                margin-bottom: .8rem;
                font-weight: $fw-normal;
                &:not(:last-child) {
                }
                a {
                    color:#fff;
                    transition: $animation-sortest ease-in-out;
                    &:hover {
                        color: $primary-color;
                        text-decoration: none;
                    }
                }
            }
        }
        &__content {
            line-height: 3.2rem;
            @media (min-width: 768px) {
                margin-right: 5.6rem;
            }
        }
        &__social-links {
            list-style: none;
            padding: 0;
            margin-bottom: 0;
            display: block;
            li {
                &:not(:last-child) {
                    margin-bottom: 2.4rem;
                }
                i {
                    display: inline-block;
                    width: 3.2rem;
                    height: 3.2rem;
                    border-radius: $rounded-circle;
                    background-color: #fff;
                    text-align: center;
                    line-height: 3.2rem;
                    font-size: 1.8rem;
                    margin-right: 1.6rem;
                    position: relative;
                    top: .2rem;
                    color: $de-color;
                    transition: $animation-sortest ease-in-out;
                }
                a {
                    color: #fff;
                    transition: $animation-sortest ease-in-out;
                    &:hover {
                        color: $primary-color;
                        text-decoration: none;
                        i {
                            background-color: $primary-color;
                            color: #fff;
                        }
                    }
                }
            }
        }
        &__logo {
            background-color: #fff;
            width: 100%;
            padding: 1rem 3.2rem;
            border-radius: 1.6rem;
        }
    }
    .footer-bottom {
        border-top: .1rem solid $gray-color;
        padding: 2.4rem 0;
        text-align: center;
        span {
            font-size: 1.4rem;

        }
    }
}
