// Radio
.radio {
    position: relative;
    cursor: pointer;
    padding: 0;
    margin: 0 !important;
    padding-right: .8rem;
    // &:before {
    //     content: '';
    //     display: inline-block;
    //     color: #fff;
    //     vertical-align: bottom;
    //     width: 1.6rem;
    //     height: 1.6rem;
    //     background: white;
    //     border: $border;
    //     border-radius: $rounded-circle;
    //     transition: $animation-sortest ease-in-out;
    // }
    &:after {
        content: '';
        position: absolute;
        background-color: #fff;
        border: $border;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: $rounded-circle;
        left: 1.2rem;
        top: 0;
        transform: translate(-50%, 0);
        font-size: 2.2rem;
        line-height: 1.6rem;
        transition: $animation-sortest ease-in-out;
    }
    span {
        transition: $animation-sortest ease-in-out;
    }

    &:hover {
        &:before {
            border-color: $primary-color;
        }
    }

    &:focus {
        //
    }
    span {
        // @extend %no-select;
    }
}

.radio-r {
    display: none;
    &:checked {
        + .radio {
            &:before {
                background: #fff;
                border-color: $secondary-color;
            }
            &:after {
                background-color: $primary-color;
            }
            // span {
            //     color: $primary-color;
            // }
        }
    }
    &:disabled {
        + .radio {
            color: $de-color;
            cursor:not-allowed;
            &:before {
                box-shadow: none;
                background: #fff;
                border-color: $gray-color;
            }
            &:hover {
                // span {
                //     color: $de-color;
                // }
            }
        }
        &:checked {
            + .radio {
                // &::before {
                //     back
                // }
                &:after {
                    background-color: $gray-color;
                }
                // span {
                //     color: $de-color;
                // }
            }
        }
    }
}
 
//
.input-field {
    color: $de-color;
    width: 100%;
    font-size: 1.4rem;
    padding: 1.2rem 1.6rem;
    height: 4.8rem;
    border: $border;
    background-color: #fff;
    outline: none;
    transition: $animation-sortest ease-in-out;
    &[type=number] {
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none; 
            margin: 0; 
        }
    }
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $gray-color;
        opacity: 1; /* Firefox */
    }
      
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $gray-color;
    }
      
    &::-ms-input-placeholder { /* Microsoft Edge */
        color: $gray-color;
    }
    &:focus {
        border: .1rem solid $gray-color;
        // box-shadow: $shadow;
    }

    &--small {
        padding: .8rem 1.6rem;
        height: 4rem;
    }

    &:disabled {
        color: $secondary-color;
        border: .1rem solid $gray-color;
        background-color: $gray-color;
        cursor: not-allowed;
        box-shadow: unset;
    }
}
textarea.input-field {
    height: 12.2rem;
    resize: none;
    margin-bottom: -.5rem;
}

.avatar-select {
    border: $border;
    padding: 1.2rem 1.6rem;
    &__title {
        display: block;
        font-size: 1.2rem;
        margin-bottom: 2.4rem;
        color: $gray-color;
    }
    &__list {
        display: flex;
        position: relative;
        margin-bottom: 1.2rem;
        .radio {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
        }
        &__avatar {
            margin: 0;
            img {
                width: 3.2rem;
                height: 3.2rem;
                object-fit: cover;
                margin-left: 3.2rem;
                @media (min-width: 992px) {
                    width: 6.4rem;
                    height: 6.4rem;
                }
            }
        }
    }
}

.form-team {
    margin-bottom: 2.4rem;
    label {
        margin: 0;
        margin-bottom: .8rem;
        font-size: 1.4rem;
        font-weight: $fw-bold;
    }
    &__label {
        color: $gray2-color;
        margin-top:.8rem;
        display: inline-block;
    }
    &__input {
        &--right {
            .input-field {
                text-align: right;
            }  
        }
        &--center {
            .input-field {
                text-align: center;
            }  
        }
    }
}