.default-header {
    height: 38.4rem;
    background-color: $primary-color;
    position: relative;
    &--auto {
        height: auto;
        color: #fff;
        &__title {
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 3.8rem;
            margin-bottom: 3.2rem;
            @media (min-width: 992px) {
                font-size: 3rem;
                line-height: 4.8rem;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
                margin-bottom: 0;
                max-width: 48rem;
            }
        }
    }
    &--small {
        height: 17.4rem;
        color: #fff;
        &__title {
            font-size: 2.6rem;
            font-weight: 700;
            margin-bottom: 1.6rem;
            @media (max-width: 991.98px) {
                font-size: 2rem;
            }
        }
        &__subtitle {
            font-size: 1.8rem;
        }
    }
}