@media (min-width: 1300px) {
    .container {
        max-width: 1280px;
    }
}

a {
    color: $primary-color;
    &:hover {
        color: darken($primary-color, 10%);
        text-decoration: none;
    }
}

button {
    outline: none !important;
    padding: 0;
    border: 0;
    background-color: transparent;
    color: $primary-color;
    &:hover {
        color: darken($primary-color, 10%);
        text-decoration: none;
    }
}

ol, ._res {
    padding: 0 0 0 1.6rem;
    margin: 0;
    li {
        padding-left: .8rem;
    }
}

.right {
    float: right !important;
}

.shadow {
    box-shadow: $shadow;
}

.d-iblock {
    display: inline-block !important;
}

.box-center {
    @media (min-width: 992px) {
        position: relative;
        > * {
            position: absolute;
            top: 50%;
            transform: translate(0,-50%);
        }
    }
}

$-x: --x- !default;
@for $i from 1 through 24 {
    .mar {
        &-ver#{$-x}#{$i} {
            margin-top: $egs * $i !important;
            margin-bottom: $egs * $i !important;
        }
        &-hor#{$-x}#{$i} {
            margin-left: $egs * $i !important;
            margin-right: $egs * $i !important;
        }
        &-top#{$-x}#{$i} {
            margin-top: $egs * $i !important;
        }
        &-right#{$-x}#{$i} {
            margin-right: $egs * $i !important;
        }
        &-bottom#{$-x}#{$i} {
            margin-bottom: $egs * $i !important;
        }
        &-left#{$-x}#{$i} {
            margin-left: $egs * $i !important;
        }
    }
    .pad {
        &-ver#{$-x}#{$i} {
            padding-top: $egs * $i !important;
            padding-bottom: $egs * $i !important;
        }
        &-hor#{$-x}#{$i} {
            padding-left: $egs * $i !important;
            padding-right: $egs * $i !important;
        }
        &-top#{$-x}#{$i} {
            padding-top: $egs * $i !important;
        }
        &-right#{$-x}#{$i} {
            padding-right: $egs * $i !important;
        }
        &-bottom#{$-x}#{$i} {
            padding-bottom: $egs * $i !important;
        }
        &-left#{$-x}#{$i} {
            padding-left: $egs * $i !important;
        }
    }
    .lh {
        &#{$-x}#{$i} {
            line-height: $egs * $i !important;
        }
    }
}

.w-full {
    width: 100%;
}

.flexed {
    display: flex;
    &__1-w {
        flex: 1;
    }
}

.sc-bg {
    background-color: $bg-sc-color;
}

.truncate {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.label {
    display: inline-block;
    text-align: center;
    background: $de-color;
    color: #fff;
    font-size: 1.4rem;
    padding: .4rem 1rem;
    font-weight: bold;
    border-radius: .2rem;
    font-size: 1.4rem;
    height: 2.6rem;
    // line-height: 2.6rem;
    transition: $animation-sort ease-in-out;
}

.main-title {
    font-size: 3.6rem;
    &--large {
        font-size: 4.8rem;
    }
}

.main-section {
    padding: 3.2rem 0;
    @media (min-width: 992px) {
        padding: 7.2rem 0;
    }
}

.sub-section {
    padding: 3.2rem 0;
    @media (min-width: 992px) {
        padding: 3.2rem 0;
    }
}

// //Avatar
// .avatar {
//     border-radius: $rounded-circle;
//     object-fit: cover;
//     background: $primary-color;
//     &--xs {
//         width: 3.2rem;
//         height: 3.2rem;
//     }
//     &--sm {
//         width: 4.8rem;
//         height: 4.8rem;
//     }
//     &--md {
//         width: 6.4rem;
//         height: 6.4rem;
//     }
//     &--lg {
//         width: 7.2rem;
//         height: 7.2rem;
//     }
// }

.align- {
    &center {
        text-align: center;
    }
}

.card-wrapper {
    color: $de-color;
    &:hover {
        color: $de-color;
    }
    &--information-list {
        &__thumb {
            position: relative;
            img {
                width: 100%;
                height: 14.8rem;
                object-fit: cover;
            }
            &__video {
                width: 3.2rem;
                height: 3.2rem;
                background-color: #2E073B;
                position: absolute;
                top: 0;
                right: 0;
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 1.2rem;
                    height: auto;
                    transform: translate(-50%, -50%);
                }
            }
        }
        &__title {
            font-weight: $fw-bold;
            font-size: 1.6rem;
            margin-top: 1.6rem;
            height: 4.8rem;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
        }
        &__info {
            color: $gray-color;
            margin: .4rem 0 .8rem;
            font-size: 1rem;
            ._writer {
                color: $de-color;
                font-weight: $fw-medium;
                margin-left: .8rem;
            }
            ._separate {
                &::after {
                    display: inline-block;
                    content: "";
                    width: .3rem;
                    height: .3rem;
                    border-radius: 50%;
                    background-color: $de-color;
                    margin: 0 1rem;
                    position: relative;
                    top: -.2rem;
                }
            }
            i {
                margin-right: .8rem;
            }
        }
        &__excerpt {
            font-size: 1.4rem;
            color: $gray2-color;
            height: 6.4rem;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
        }
    }
    &--gallery-list {
        &__thumb {
            position: relative;
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
            &__layer {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0);
                transition: $animation-sort ease-in-out;
                ._text {
                    text-align: center;
                    width: 70%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    ._title {
                        font-size: 1.8rem;
                        font-weight: $fw-bold;
                        margin-bottom: .4rem;
                        position: relative;
                        bottom: -.8rem;
                        color: transparent;
                        transition: $animation-sort ease-in-out;
                    }
                    ._subtitle {
                        font-size: 1.4rem;
                        position: relative;
                        top: -.8rem;
                        color: transparent;
                        transition: $animation-sort ease-in-out;
                    }
                }
                &:hover {
                    background-color: rgba(255, 255, 255, 0.88);
                    ._text {
                        ._title {
                            bottom: 0;
                            color:$de-color;
                        }
                        ._subtitle {
                            top: 0;
                            color:$gray2-color;
                        }
                    }
                }
            }
        }
    }
}

.breadcrumb2-wrapper {
    > *:not(:first-child) {
        &::before {
            content: '> ';
        }
        &:hover {
            &::before {
                color: $de-color;
            }
        }
    }
    a {
        color: $gray2-color;
        &:hover {
            color: $primary-color;
        }
    }
    span {
        color: $gray2-color;
    }
}

.breadcrumb-wrapper {
    > *:not(:first-child) {
        // &::before {
        //     content: '> ';
        // }
        &:hover {
            &::before {
                color: $de-color;
            }
        }
    }
    a {
        background-color: $de-color;
        color: #fff;
        font-weight: $fw-bold;
        display: inline-block;
        padding: .2rem 1.6rem 0;
        margin-right:.8rem;
        margin-bottom: .8rem;
        border-radius: .2rem;
        &:hover {
            color: #fff;
        }
    }
    &--colored {
        a {
            &:first-child {
                background-color: #A444BD;
            }
            &:nth-child(2) {
                background-color: #3FBCD5;
            }
        }
    }
}

.article-post {
    font-size: 1.6rem;
    line-height: 140%;
    margin-bottom: 5.6rem;
    p {
        margin-bottom: 2.4rem;
    }
    img {
        max-width: 100% !important;
    }
}

.comment {
    &__head {
        text-align: center;
        border-top: $border;
        border-bottom: $border;
        padding: 1.6rem 0;
        > span {
            &:first-child {
                border-right: $border;
                padding-right: 2.4rem;
                color: $gray2-color;
                i {
                    padding-right: .8rem;
                }
            }
            &:last-child {
                padding-left: 2.4rem;
                i {
                    padding-left: .8rem;
                    color: $de-color;
                    &:hover {
                        color: $primary-color;
                    }
                    &:before {
                        content: "\f08a";
                    }
                    &.loved {
                        &:before {
                            content: "\f004";
                            color: $primary-color;
                        }
                    }
                    
                    
                }
            }
        }
    }

    &__show {
        padding: 2.4rem 0;
    }

    &__form {
        margin-top: 2.4rem;
        margin-bottom: 6.4rem;
    }
}

.comment-lists {
    padding: 0;
    list-style: none;
    &--child {
        padding-left: 3.2rem;
        @media (min-width: 992px) {
            padding-left: 8.8rem;
        }
    }
    &__list {
        > div {
            display: flex;
            margin-bottom: 2.4rem;
        }
        img {
            width: 3.2rem;
            height: 3.2rem;
            object-fit: cover;
            @media (min-width: 992px) {
                width: 6.4rem;
                height: 6.4rem;
            }
        }
        &__right {
            padding-left: 1.6rem;
            > div {
                border-bottom: $border;
                padding-bottom: 1.6rem;
                position: relative;
            }
            &__name {
                margin-bottom: .4rem;
                font-weight: bold;
            }
            &__date {
                font-size: 1.2rem;
                color: $gray2-color;
                ._date {
                    padding-left: .4rem;
                    padding-right: .4rem;
                }
                ._time {
                    padding-left: .4rem;
                }
            }
            &__comment {
                margin-top: .4rem;
            }   
            &__btn {
                position: absolute;
                top: 0;
                right: 0;
                color: $gray2-color;
            }
        }
    }
}

//video
video {
    width: 100%;
}

//global title
@mixin global-title-mx {
    position: relative;
    margin-bottom: 2.4rem;
    > span {
        display: inline-block;
        text-align: center;
        background: $primary-color;
        background: -webkit-linear-gradient(to right, $primary-color, $primary-darken-color);
        background: linear-gradient(to right, $primary-color, $primary-darken-color);
        color: #fff;
        font-size: 1.4rem;
        padding: .4rem 2rem .2rem;
        font-weight: bold;
        border-top-left-radius: .2rem;
        border-top-right-radius: .2rem;
    }
    &::after {
        content: '';
        height: .4rem;
        background-color: $primary-darken-color;
        width: 100%;
        display: block;
        border-radius: $rounded-big;
        position:absolute;
        bottom: 0;
        z-index: -1;
    }
}

.g-title {
    @include global-title-mx;
}

//pagination
.pagination {
    .page-item {
        margin: 0 .8rem;
        .page-link {
            height: 3.2rem;
            width: 3.2rem;
            padding: 0;
            text-align: center;
            line-height: 3.2rem;
            border-radius: $rounded-small;
            border: .1rem solid $gray-color;
            color: $gray-color;
            &:hover {
                background-color: #fff;
            }
        }
        &.active {
            .page-link {
                background-color: $primary-color;
                color: #fff;
                border-color: $primary-color;
            }
        }
        &.pagination-truncate {
            .page-link {
                background-color: transparent;
                border-color: transparent;
            }
        }
    }
}

.slick-slide {
    outline: none
}