.nav-block {
    height: 8rem;
    @media (max-width: 767.98px) {
        height: 7.2rem;
    }
}
.nav-bar {
    padding: 1.1rem 0;
    background-color: #fff;
    z-index: 99;
    box-shadow: 0 .3rem .6rem 0 rgba(0, 0, 0, 0.16);
    position: fixed;
    width: 100%;
    top: -10rem;
    transition: $animation-sortest ease-in-out;
    height: 8rem;
    // overflow: hidden;
    .drawer-btn {
        display: none;
    }
    > div {
        position: relative;
    }
    &--show {
        top: 0;
    } 
    &__logo {
        height: 5.8rem;
        // margin: .6rem 0;
    }
    &__right {
        // width: 1.6rem;
        margin: -1.1rem 0;
        flex: 1;
        position: relative;
        &__search {
            margin-top: .8rem;
            display: block;
            padding: 0;
            background-color: transparent;
            border: none;
            text-align: right;
            color: $de-color;
            transition: $animation-sortest ease-in-out;
            height: 0;
            img {
                height: 3.2rem;
            }
            &:hover {
                color: $primary-color;
            }
        }
    }
    &__nav-links {
        text-align: right;
        list-style: none;
        display: inline;
        padding: 0;
        font-size: 1.6rem;
        font-weight: $fw-medium;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        > li {
            display: inline;
            padding-bottom: 1.4rem;
            position: relative;
            &::after {
                display: block;
                content: '';
                height: .3rem;
                background-color:transparent;
                border-radius: $rounded-big;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
            }
            &:not(:last-child) {
                margin-right: 4rem;
            }
            > a {
                color: $de-color;
                transition: $animation-sortest ease-in-out;
                &:hover {
                    color: $primary-color;
                    text-decoration: none;
                }
            }
            &._active {
                > a {
                    color: $primary-color;
                }
                &::after {
                    background-color: $primary-color;
                }
            }
        }
        &__dropdown {
            position: relative;
            > a {
                &::after {
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    content: "\f0d7";
                    margin-left: .8rem;
                }
            }
            &__wrapper {
                position: absolute;
                left: 0;
                top: 3.2rem;
                width: 200px;
                display: none;
                > ul {
                    padding: 0;
                    list-style: none;
                    text-align: left;
                    background-color: #fff;
                    border-radius: $rounded-small;
                    box-shadow: $shadow;
                    font-size: 1.4rem;
                    > li {
                        padding: .8rem 1.6rem;
                        &:not(:last-child) {
                            border-bottom: $border;
                        }
                        a {
                            display: block;
                            color: $de-color;
                            transition: $animation-sortest ease-in-out;
                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }
                }
                &._show {
                    display: block;
                }
            }
        }
    }
    &__mobile-drawer {
        margin-top: 1.6rem;
        &__links {
            padding: 0;
            margin: 0;
            list-style: none;
            &__search {
                margin-bottom: .8rem;
                .search-field {
                    position: relative;
                    input {
                        height: 4rem;
                        width: 100%;
                        background-color: transparent;
                        color: $de-color;
                        border: $border;
                        padding: 0 1.2rem;
                        outline: none;
                        // &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                        //     color: #fff;
                        //     opacity: 1; /* Firefox */
                        // }
                          
                        // &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                        //     color: #fff;
                        // }
                          
                        // &::-ms-input-placeholder { /* Microsoft Edge */
                        //     color: #fff;
                        // }
                    }
                    button {
                        color: $primary-color;
                        position: absolute;
                        right: 1.2rem;
                        top: 50%;
                        transform: translate(0, -50%);
                        img {
                            height: 3.2rem;
                        }
                    }
                }
            }
            &__link {
                a {
                    color: $de-color;
                    padding: 1.2rem 0;
                    display: block;
                    font-weight: $fw-bold;
                }
                ul {
                    display: none;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    li {
                        a {
                            &::before {
                                content: '• ';
                            }
                        }
                    }
                }
                &._active {
                    a {
                        color: $primary-color;
                    }
                }
                &:not(:last-child) {
                    border-bottom: $border;
                }
            }
        }
    }
}
@media (max-width: 767.98px) {
    .nav-bar {
        padding: 1.3rem 0;
        height: 7.2rem;
        overflow: hidden;
        .drawer-btn {
            display: block;
            position: absolute;
            right: 2.4rem;
            top: 1.4rem;
            i {
                font-size: 1.6rem;
            }
        }
        &._expanded {
            height: 100%;
        }
        &__logo {
            height: 4rem;
            margin: .4rem 0;
        }
        &__right {
            display: none;
        }
    }
}

.popup-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($de-color, 0);
    z-index: -1;
    transition: $animation-sortest ease-in-out;
    &._active {
        background-color: rgba($de-color, .96);
        z-index: 99;
    }
}

.search-wrapper {
    position: fixed;
    left: 0;
    top: -9.6rem;
    width: 100%;
    z-index: 100;
    padding-top: 2.6rem;
    transition: $animation-long ease-in-out;
    &._active {
        top: 0;
    }
    > div {
        position: relative;
        .search-field {
            position: relative;
            input {
                height: 4.8rem;
                width: 100%;
                background-color: transparent;
                color: #fff;
                border: .1rem solid #fff;
                padding: 0 1.2rem;
                outline: none;
                &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: #fff;
                    opacity: 1; /* Firefox */
                }
                  
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: #fff;
                }
                  
                &::-ms-input-placeholder { /* Microsoft Edge */
                    color: #fff;
                }
            }
            button {
                color: #fff;
                position: absolute;
                right: 1.6rem;
                top: 50%;
                transform: translate(0, -50%);
                font-size: 1.6rem;
            }
        }
    }
}