/* Font Family */
@import url('https://fonts.googleapis.com/css?family=Overpass:400,600,700&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

$font-family:'Overpass', sans-serif;
// $font-family2:'Open Sans', sans-serif;

html {
    font-size: $base-font;
}

body {
    background: $bg-color;
    font-family: $font-family;
    font-size: $de-font;
    font-weight: $fw-normal;
    color: $de-color;
}