.side {
    position: sticky;
    top: 10.4rem;
    margin-bottom: 6.4rem;
    @media (min-width: 992px) {
        padding-left: 4rem;
    }
    &__content {
        margin-bottom: 7.2rem;
        &__title {
            @include global-title-mx;
        }
    }

    // Widget Information List
    .side-wrapper-information-list {
        display: flex;
        color: $de-color;
        padding: 1.6rem 0;
        &:not(:last-child) {
            border-bottom: $border;
        }
        &__img {
            position: relative;
            img {
                width: 12.8rem;
                height: 8.8rem;
                object-fit: cover;
                margin-right: .8rem;
            }
            &__badge {
                width: 2.4rem;
                height: 2.4rem;
                line-height: 2.2rem;
                text-align: center;
                border-radius: $rounded-circle;
                background-color:$de-color;
                border: .2rem solid #fff;
                color: #fff;
                display: block;
                position: absolute;
                left: .8rem;
                top: -1.2rem;
            }
        }
        &__title {
            font-weight: $fw-medium;
            max-height: 4.2rem;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
        }
        &__info {
            font-size: 1.2rem;
            color: $gray-color;
            margin-top: .4rem;
        }
    }

    // Widget Category
    .side-wrapper-category {
        color: $de-color;
        padding: 1.6rem 0;
        display: flex;
        &:hover {
            color: $primary-color;
        }
        &._active {
            color: $primary-color;
        }
        &:not(:last-child) {
            border-bottom: $border;
        }
        span {
            flex: 1;
            &::before {
                content: '> ';
            }
        }
    }

    // Widget Link
    .side-wrapper-link {
        color: $de-color;
        padding: 1.2rem 0;
        display: flex;
        border-bottom: $border;
        &:hover {
            color: $primary-color;
        }
        &._active {
            color: $primary-color;
        }
    }
}