.slick-dots {
    bottom: -2.8rem;
    li {
        height:1.2rem;
        width:1.2rem;
        margin: 0 1.2rem;
        transition: $animation-sort ease-in-out;
        button {
            height:1.2rem;
            width:1.2rem;
            transition: $animation-sort ease-in-out;
            &::before {
                color: $gray-color;
                opacity: 1;
                font-size: 1.2rem;
                width:1.2rem;
                height:1.2rem;
                line-height:1.2rem;
                background-color: $gray-color;
                border-radius: $rounded-circle;
                box-shadow: $shadow;
                transition: $animation-sort ease-in-out;
            }
        }
        &.slick-active {
            width: 4.8rem;
            margin: 0;
            button {
                width: 4.8rem;
                &::before {
                    width: 4.8rem;
                    background: $primary-color;
                    border-radius: 4rem;
                    color: $primary-color;
                    opacity: 1;
                }
            }
        }
    }
}