//Color
$bg-color:#fff;
$bg-sc-color:#F8F8F8;
$de-color:#242424;

$primary-color:#DB261E;
$primary-darken-color:#b31217;
$secondary-color:#F5F5F5;

$gray-color:#979789;
$gray2-color:#66676D;
$error-color:#DB261E;

$base-font:10px;
$de-font:1.4rem;

//Font Weight
$fw-bold:700;
$fw-medium:600;
$fw-normal:400;

//8pt Grid System
$egs:.8rem;

//Border
$border:.1rem solid #DEDEDE;

//Shadow
$shadow: 0 0.3rem 0.6rem 0 rgba(0,0,0,.16);
$none:none;

//Rounded
$rounded-small:.4rem;
$rounded-big:.8rem;
$rounded-circle:50%;

//Animation
$animation-sortest:.2s;
$animation-sort:.25s;
$animation-long:.4s;
$animation-longest:.6s;